
/* Basic Reset and Global Styles */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #364465;
}

a {
  color: #3498DB;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #2C3E50;
}
